.fleet {
  padding: 7%;
  background-color: $light-grey;
  h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
  }
  .fleet-hero {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    .special-feature {
      color: $white;
      position: aboslute;
    }
  }
  .about {
    @include white-container;
    .carousel {
      button,
      .carousel-images {
        float: left;
      }
      button {
        height: 37px;
        width: 37px;
        border: none;
        background: url(../images/carousel-nav-sprite.svg);
      }
    }
    .carousel-images {
      li {
        float: left;
      }
    }
    .button {
      @include standard-button;
    }
    p {
      clear: both;
    }
  }

}