.white-container {
  padding: 0 5% 80px;
  background-color: $light-grey;
  .container {
    max-width: 1220px;
    width: 95%;
    margin: 0 auto 0;
    box-sizing: border-box;
    &.content {
      padding:  80px 8% 65px;
      background-color: #FFF;
      border: 1px solid $medium-grey;
    }
  }
  .text-template-copy {
    margin: 25px auto 0;
  }
}
