.white-container {
  padding: 0 5% 80px;
  background-color: $light-grey;
  .container {
    max-width: 1220px;
    width: 95%;
    margin: 0 auto 0;
    box-sizing: border-box;
    &.content {
      padding:  80px 8% 65px;
      background-color: #FFF;
      border: 1px solid $medium-grey;
    }
  }
  .text-template-copy {
    margin: 25px auto 0;
  }
}

.rates-page {
  .rates-table {
    ul {
      border-bottom: 1px solid $light-grey;
      li {
        width: 21%;
        display: inline-block;
        line-height: 3;
        padding: 0 8% 0 3%;
        &:first-child {
          width: 32%;
        }
        &:last-child {
          padding-right: 0;
        }
      }

      &.top-row {
        background-color: $purple-text;
        li {
          font-weight: 400;
          color: #FFF;
          // line-height: 2;
        }
      }

      &.table {
        li {
          &:first-child {
            font-weight: bold;
          }
        }
      }
    }
  }

  .footnotes {
    margin-top: 30px;
    font-size: 0.75em;
    line-height: 1.5;
  }

  .button {
    @include standard-button;
    margin-top: 20px;
  }
}


