a {
  text-decoration: none;
  color: $dark-grey;
}

a:hover {
  text-decoration: underline;
  color: $purple;
}

.fluid-images {
  max-width: 100%;
  height: auto;
}

.page-container {
  position: relative;
}

.breadcrumbs {
  font-size: 0.8em;
  position: absolute;
  margin: 20px 0px 0px 7%;
}

.container {
  max-width: 1220px;
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
  &.content {
    padding:  80px 8% 45px;
    background-color: #FFF;
    border: 1px solid $medium-grey;
  }
}
