a {
  text-decoration: none;
  color: $dark-grey;
}

a:hover {
  text-decoration: underline;
  color: $purple;
}

.fluid-images {
  max-width: 100%;
  height: auto;
}

.page-container {
  position: relative;
}

.breadcrumbs {
  font-size: 0.8em;
  position: absolute;
  margin: 20px 0px 0px 7%;
}
/************/
/** MOBILE **/
/************/
@media (max-width: 1024px) {
  .breadcrumbs {
    display: none;
  }
}
