// Main body font
body {
  font-family: 'Open Sans', sans-serif;
  color: $dark-grey;
  font-size: 16px;
  h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: $purple-text;
    margin-bottom: 25px;
    line-height: 1.5em;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 700;
    padding: 25px 0 0 2.4%;
    color: $dark-grey;
  }
  h3 {
    font-size: 1em;
    font-weight: bold;
    line-height: 2;
  }
  h4 {
    font-size: 0.8em;
    font-weight: 600;
    margin: 15px 0;
  }
  p {
    font-size: 1em;
    color: $dark-grey;
    line-height: 1.5;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .purple-text {
    color: $purple-text;
  }
  sup {
    font-size: 0.75em;
    vertical-align: top;
  }

  //tablet
  @media (max-width: 1024px)
  and (min-width: 737px) {
    font-size: 12px;
    h2 {
      padding-top: 30px;
    }
    .footer {
      font-size: 14px;
    }
  }
  //phone
  @media (max-width: 736px) {
    font-size: 12px;
    h2 {
      padding-top: 40px;
    }
    .footer {
      font-size: 14px;
    }
  }
}

.homepage-banner {
  text-align: center;
  p {
    font-weight: 600;
    color: $dark-grey;
  }
  .headline {
    font-family: 'Cookie', cursive;
    font-size: 3em;
    color: $purple-text;
    font-weight: 400;
    line-height: 36px;
  }
}
