// Main body font
body {
  font-family: 'Open Sans', sans-serif;
  color: $dark-grey;
  h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: $purple-text;
    margin-bottom: 25px;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 700;
  }
  h3 {
    font-size: 1em;
    font-weight: bold;

  }
  p {
    font-size: 1.125em;
    color: $dark-grey;
  }
}


//body headlines and navigation



// Headline 1  -  28 pt
// Headeline 2  -  20 pt  (body headlines & navigation)
// Body copy  -  18 pt
// Dropdown menu copy - 16 pt
// Footer copy  - 14 pt
// Breadcrumb  -  12 pt
//MOBILE
// Headline 1 - 18 pt
// Headline 2 - 18 pt (body headlines)
// Body copy - 16 pt
// Navigation menu & footer copy - 14 pt

/************/
/** MOBILE **/
/************/
@media only screen and (max-width: 400px) {
  h1 {
    align: left;
    font-size: 1.3em;
    line-height: 30px;
  }
  h2 {
    font-size: 17px;
  }
  p {
    font-size: 14px;
  }
}