//Colors
// CTA links hover color; also use underline
$purple: #652C90;
// button color later
$dark-purple: #480A52;
//For text
$purple-text: #6A027B;
// Background color
$light-grey: #EEEEEE;
// Homepage aside, rule, disabled button
$medium-grey: #CCCCCC;
// All text and footer background
$dark-grey: #333333;
//inset white page with grey stoke
$white: #FFF;
$grey-stroke: #DDDDDD;

$site-padding: 0 30px;