@import "reset";
@import "components/variables";
@import "components/grid";
@import "components/base";
@import "components/typography";
@import "components/header";
@import "components/footer";


/*
COLORS
Purple:  #652c90 – CTA links hover color; also use underline
Dark Purple:  #480a52 – not used currently; for button color later
Light Gray: #e5e5e5 – background color
Dark Grey:  #333333 – All text + footer bkgd
FONTS
Open Sans: https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans
– Weights used: Normal, Italic, Bold
font-family: 'Open Sans', sans-serif;
FONT SIZES  (regular desktop version)
Headlines:  26pt
Featured copy (“About Us” blurb & photo labels): 18 pt
Main copy (bottom):  16pt
*/

body {
  font-family: 'Open Sans', sans-serif;
  color: $dark-grey;
}

