/*
Error: Invalid CSS after "=======": expected "{", was "}"
        on line 35 of scss/components/_header.scss
        from line 6 of scss/style.scss

30:             font-weight: bold;
31:           }
32:         }
33: <<<<<<< HEAD
34: =======
35:       }
36:     }
37:   }
38:   /************\/
39:   /** MOBILE **\/
40:   /************\/

Backtrace:
scss/components/_header.scss:35
scss/style.scss:6
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/Users/sarahlshowers/.rvm/gems/ruby-2.0.0-p481/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"=======\": expected \"{\", was \"}\"\A         on line 35 of scss/components/_header.scss\A         from line 6 of scss/style.scss\A \A 30:             font-weight: bold;\A 31:           }\A 32:         }\A 33: <<<<<<< HEAD\A 34: =======\A 35:       }\A 36:     }\A 37:   }\A 38:   /************/\A 39:   /** MOBILE **/\A 40:   /************/"; }
