@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.grid .row {
  margin: 5px 0; }
  .grid .row:after {
    content: "";
    display: table;
    clear: both; }
  .grid .row:last-child {
    margin-bottom: 0; }
  .grid .row:first-child {
    margin-top: 0; }
  .grid .row [class*="col-"] {
    padding: 5px;
    box-sizing: border-box; }
  @media all and (min-width: 600px) {
    .grid .row .col-2-3 {
      float: left;
      width: 66.66%; }
    .grid .row .col-1-2 {
      float: left;
      width: 50%; }
    .grid .row .col-1-3 {
      float: left;
      width: 33.33%; }
    .grid .row .col-1-4 {
      float: left;
      width: 25%; }
    .grid .row .col-1-8 {
      float: left;
      width: 12.5%; } }

a {
  text-decoration: none;
  color: #333333; }

a:hover {
  text-decoration: underline;
  color: #652C90; }

a {
  text-decoration: none;
  color: #333333; }

a:hover {
  text-decoration: underline;
  color: #652C90; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #333333; }

h1 {
  font-size: 30.5px;
  font-weight: bold;
  text-align: center;
  color: #6A027B; }

h2 {
  font-size: 20px;
  font-weight: 700; }

h3 {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0 10px 0; }

p {
  font-size: 16px;
  color: #333333; }

header {
  height: 100px;
  position: relative;
  border-bottom: 1px solid #EEEEEE;
  box-shadow: 0 5px 6px -6px #333333;
  /************/
  /** MOBILE **/
  /************/ }
  header.mobile-header {
    display: none; }
  header .inner-header {
    padding: 0 30px;
    max-width: 1220px;
    margin: 0 auto; }
    header .inner-header a img {
      float: left;
      margin: 15px 25px;
      width: 138px;
      height: 72px; }
    header .inner-header nav {
      float: right;
      padding: 42px 0; }
      header .inner-header nav a {
        float: left; }
        header .inner-header nav a li {
          padding-left: 4.5em; }
          header .inner-header nav a li p {
            font-weight: bold; }
  @media only screen and (max-width: 1000px) {
    header {
      height: 70px;
      margin: 0;
      padding: 0;
      position: relative; }
      header.desktop-header {
        display: none; }
      header.mobile-header {
        display: block; }
      header a img {
        margin: 8px 20px;
        width: 91px;
        height: 50px; }
      header .dropdown {
        float: right; }
        header .dropdown img {
          width: 15px;
          height: 10px;
          margin: 30px 20px; }
      header .banner-wrapper {
        position: absolute;
        z-index: 200;
        background-color: white;
        width: 100%; }
      header nav {
        width: 100%;
        margin: 10px 0;
        padding: 0;
        float: none;
        text-align: center;
        display: inline-block;
        position: absolute;
        left: 0;
        z-index: 100; }
        header nav.open-menu ul {
          top: 62px;
          -webkit-transition: all .25s ease;
          -moz-transition: all .25s ease;
          -ms-transition: all .25s ease;
          -o-transition: all .25s ease;
          transition: all .25s ease; }
        header nav ul {
          width: 100%;
          top: -143px;
          display: inline-block;
          position: absolute;
          left: 0;
          -webkit-transition: all .25s ease;
          -moz-transition: all .25s ease;
          -ms-transition: all .25s ease;
          -o-transition: all .25s ease;
          transition: all .25s ease; }
          header nav ul li {
            padding: 9px 0;
            border-bottom: 1px solid #CCCCCC;
            background-color: white; }
            header nav ul li a {
              font-weight: bold;
              float: none; } }

.homepage-wrapper {
  background-color: #EEEEEE;
  /************/
  /** MOBILE **/
  /************/ }
  .homepage-wrapper section {
    padding: 0 30px 100px 30px;
    max-width: 1220px;
    margin: 0 auto; }
    .homepage-wrapper section .gallery-container {
      margin: 60px 0;
      display: inline-block; }
      .homepage-wrapper section .gallery-container div {
        padding-right: 30px; }
      .homepage-wrapper section .gallery-container div:last-child {
        padding-right: 0; }
      .homepage-wrapper section .gallery-container .gallery-corporate, .homepage-wrapper section .gallery-container .gallery-events, .homepage-wrapper section .gallery-container .gallery-travel, .homepage-wrapper section .gallery-container .gallery-wedding {
        float: left; }
      .homepage-wrapper section .gallery-container a {
        height: 45px;
        margin-top: -2px;
        display: block;
        background-color: #652C90; }
        .homepage-wrapper section .gallery-container a p {
          padding: 13px 0;
          font-weight: 600;
          color: #EEEEEE;
          text-align: center; }
    .homepage-wrapper section .about {
      background-color: white;
      padding: 70px 100px;
      border: 1px solid #DDDDDD; }
      .homepage-wrapper section .about p {
        margin-top: 20px;
        line-height: 20px;
        color: #333333; }
      .homepage-wrapper section .about a {
        width: 240px;
        height: 45px;
        margin-top: -2px;
        display: block;
        background-color: #652C90; }
        .homepage-wrapper section .about a p {
          padding: 13px 0;
          font-weight: 600;
          color: #EEEEEE;
          text-align: center; }
  .homepage-wrapper aside {
    background-color: #CCCCCC; }
    .homepage-wrapper aside .aside-wrapper {
      max-width: 1220px;
      margin: 0 auto;
      padding: 50px 30px; }
      .homepage-wrapper aside .aside-wrapper:after {
        content: "";
        display: table;
        clear: both; }
      .homepage-wrapper aside .aside-wrapper .newsletter, .homepage-wrapper aside .aside-wrapper .contact-us {
        float: left;
        height: 185px;
        width: 50%; }
      .homepage-wrapper aside .aside-wrapper .newsletter h2 {
        margin-bottom: 20px; }
      .homepage-wrapper aside .aside-wrapper .newsletter form label {
        font-weight: 600; }
      .homepage-wrapper aside .aside-wrapper .newsletter form input[type="email"] {
        width: 380px;
        height: 45px;
        border: none;
        margin: 10px 0; }
      .homepage-wrapper aside .aside-wrapper .newsletter button {
        width: 140px;
        height: 45px;
        margin-top: 20px;
        display: block;
        background-color: #652C90;
        border: none;
        color: #EEEEEE;
        font-weight: 600; }
      .homepage-wrapper aside .aside-wrapper .contact-us p {
        line-height: 20px; }
        .homepage-wrapper aside .aside-wrapper .contact-us p span {
          font-weight: 600; }
  @media only screen and (max-width: 460px) {
    .homepage-wrapper section {
      padding: 20px 4% 40px; }
      .homepage-wrapper section .col-1-4 {
        width: 50%; }
      .homepage-wrapper section .gallery-corporate img, .homepage-wrapper section .gallery-events img, .homepage-wrapper section .gallery-travel img, .homepage-wrapper section .gallery-wedding img {
        width: 136px;
        height: 168px; }
      .homepage-wrapper section .gallery-corporate a, .homepage-wrapper section .gallery-events a, .homepage-wrapper section .gallery-travel a, .homepage-wrapper section .gallery-wedding a {
        width: 136px; }
        .homepage-wrapper section .gallery-corporate a p, .homepage-wrapper section .gallery-events a p, .homepage-wrapper section .gallery-travel a p, .homepage-wrapper section .gallery-wedding a p {
          padding: 13px 0; }
        .homepage-wrapper section .gallery-corporate a .events, .homepage-wrapper section .gallery-events a .events, .homepage-wrapper section .gallery-travel a .events, .homepage-wrapper section .gallery-wedding a .events {
          padding: 7px 0; } }

footer {
  height: 50px;
  bottom: 0;
  padding: 0 30px;
  background-color: #333333; }
  footer .inner-footer {
    max-width: 1220px;
    margin: 0 auto; }
    footer .inner-footer .navigation {
      float: left; }
      footer .inner-footer .navigation li:first-child {
        border-left: none; }
      footer .inner-footer .navigation li {
        float: left;
        border-left: 1px solid #E5E5E5;
        line-height: 17px;
        padding: 0px 16px;
        margin: 16px 0; }
        footer .inner-footer .navigation li p {
          color: #EEEEEE; }
    footer .inner-footer .social {
      float: right; }
      footer .inner-footer .social li {
        float: left;
        border-right: 1px solid #EEEEEE; }
      footer .inner-footer .social li:first-child {
        border-left: 1px solid #EEEEEE; }

/*
COLORS
Purple:  #652c90 – CTA links hover color; also use underline
Dark Purple:  #480a52 – not used currently; for button color later
Light Gray: #e5e5e5 – background color
Dark Grey:  #333333 – All text + footer bkgd
FONTS
Open Sans: https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans
– Weights used: Normal, Italic, Bold
font-family: 'Open Sans', sans-serif;
FONT SIZES  (regular desktop version)
Headlines:  26pt
Featured copy (“About Us” blurb & photo labels): 18 pt
Main copy (bottom):  16pt
*/
body {
  font-family: 'Open Sans', sans-serif;
  color: #333333; }

/*# sourceMappingURL=style.css.map */
