@import "reset";
@import "components/grid";
@import "components/typography";
@import "components/base";

/*
COLORS
Purple:  #652c90 – CTA links hover color; also use underline
Dark Purple:  #480a52 – not used currently; for button color later
Light Gray: #e5e5e5 – background color
Dark Grey:  #333333 – All text + footer bkgd
FONTS
Open Sans: https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans
– Weights used: Normal, Italic, Bold
font-family: 'Open Sans', sans-serif;
FONT SIZES  (regular desktop version)
Headlines:  26pt
Featured copy (“About Us” blurb & photo labels): 18 pt
Main copy (bottom):  16pt
*/

.max-width-content {
  max-width: 1200px;
  margin: 0 auto;
}

.headline {
  margin-top: 56px;
}

.headline-copy {
  margin: 50px 10%;
  text-align: center;
}

.banner-container, {
  margin: 0 auto 30px;
}

.fluid-images {
  max-width: 100%;
  height: auto;
}

.banner figcaption {
  padding: 16px;
  font-weight: bold;
  text-align: center;
}

#landing-page {
  aside.grid {
    background-color: $light-grey;
  }
  .info-container {
    margin: 0 auto;
    clear: both;
    .jobs-container, .contact-container {
      height: 410px;
      padding: 50px 80px;
      p {
        padding: 20px 0 10px 0;
      }
    }
    .jobs-container {
      a {
        padding: 0 15px;
        border-right: 1px solid $dark-grey;
      }
      a:first-child {
        padding-left: 0;
      }
      a:last-child {
        border-right: none;
      }
      .job-listing {
        p {
          padding: 10px 0;
        }
      }
    }
    .jobs-container:first-child {
      border-right: 2px solid #FFFFFF;
    }
    .contact-container {
      p {
        padding: 0;
      }
      .contact-info {
        padding: 20px 0 5px 0;
      }
      .inline-contact{
        margin-left: 10px;
      }
      .inline-contact, a {
        vertical-align: top;
        line-height: 39px;
      }
      .social-media {
        padding: 10px 0;
        img {
          height: 29px;
          width: 29px;
        }
      }
    }
  }
}

@import "components/mobile";
