/**
 * Styles for all sorts of buttons
 */

@mixin standard-button {
  display: block;
  padding: 13px 29px;
  font-size: 1em;
  background-color: $dark-purple;
  color: $light-grey;
  border: none;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

//Overrides for edgecases "look like button" type elements
.no-underline {
    a:hover {
    text-decoration: none;
  }
}

p {
  &.uppercase {
   text-transform: uppercase;
  }
}