footer {
  .inner-footer {
    max-width: 1220px;
    margin: 0 auto;
  }
  height: 63px;
  bottom: 0;
  padding: 0 4%;
  background-color: $dark-grey;
  p,
  a {
    font-size: 0.85em;
    color: $light-grey;
    line-height: 17px;
    margin: 16px 0;
  }
  nav {
    display: inline;
    position: relative;
    left: 50%;
    margin-left: -210px;
  }
  .copyright {
    width: 75%;
    float: left;
    margin: 20px 0;
    p,
    a {
      display: inline;
      &:hover {
        color: $light-grey;
      }
    }
    ul {
      display: inline;
      li {
        display: inline;
        padding: 0 2%;
        border-right: solid 1px $light-grey;
        &:last-child {
          border-right: none;
          }
      }
    }
  }
  .social {
    float: right;
    ul {
      li {
        display: inline;
        img {
          margin: 14px 0;
          padding: 0px 3px;
          height: 29px;
          width: 29px;
          display: inline-block;
        }
      }
    }
  }

  /************/
  /** MOBILE **/
  // /************/
  @media only screen and (max-width: 850px) {
    height: 170px;
    margin-top: 0px;
    padding: 0;
    .copyright,
    .kstg,
    nav,
    .social {
      width: 100%;
    }
    .copyright {
      // font-size: 1.1em;
      margin: 10px 0 0 0;
      position: relative;
      ul {
        li {
        padding: 0 2%;
        top: 20px;
        }
      }
      .kstg {
        text-align: center;
        display: block;
      }
      nav {
        margin-left: -125px;
      }
    }
    .social {
      position: relative;
      height: auto;
      bottom: 8px;
      ul {
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -140px;
        li {
          height: 64px;
          img {
            padding-top: 0px;
            height: 45px;
            width: 45px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 414px) {
    .copyright {
      nav {
        margin-left: -115px;
      }
    }
  }
}
