/**
 * Styles for anything related to form elements
 * e.g form fields, select boxes, etc.
 */

@mixin text-field {
  display: inline-block;
  padding: 0 10px;
  border: none;
  height: 50px;
  width: 74%;
  font-size: 1em;
  &.error {
    @include shake();
    border: 2px solid red;
  }
}
