/**
 * Styles for anything related to form elements
 * e.g form fields, select boxes, etc.
 */

@mixin text-field {
  display: inline-block;
  padding: 0 10px;
  height: 50px;
  width: 100%;
  font-size: 1em;
  border: 1px solid $medium-grey;
  &.error {
    @include shake();
    border: 2px solid red;
  }
  @media (max-width: 768px) {
    width: 96%;
  }
  .no-border {
    border: none;
  }
}

@mixin textarea {
  border: 1px solid $medium-grey;
}
