// This is the file for setting up the grid.

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.grid {
  .row {
    // @include clearfix();
    // // margin: 5px 0;
    // &:last-child {
    //   margin-bottom: 0;
    // }
    // &:first-child {
    //   margin-top: 0;
    // }
    [class*="col-"] {
      padding: 5px;
      box-sizing: border-box;
    }
    @media all and ( min-width: 600px ) {
      .col-2-3 {
        float: left;
        width: 66.66%;
      }
      .col-1-2 {
        float: left;
        width: 50%;
      }
      .col-1-3 {
        float: left;
        width: 33.33%;
      }
      .col-1-4 {
        float: left;
        width: 25%;
      }
       .col-1-8 {
        float: left;
        width: 12.5%;
      }
    }
  }
}


