header {
  z-index: 1000;
  &.mobile-header {
    display: none;
  }

  height: 100px;
  position: relative;
  background-color: $white;
  border-bottom: 1px solid $light-grey;
  box-shadow: 0 5px 6px -6px $dark-grey;

  .inner-header {
  padding: $site-padding;
  max-width: 1220px;
  margin: 0 auto;
  }

  .logo {
    float: left;
    margin: 13px 1%;
    width: 144px
  }
  /**********************
  MENU: TOP LEVEL DESKTOP
  ***********************/

  nav {
    float: right;
    padding: 42px 2% 0 0;

    .menu-item {
      float: left;
      display: block;
      position: relative;
      margin-left: 3.7em;
      a {
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
        margin-bottom: 50px;
      }

     &:hover {
       > a {
         color: $purple-text;
       }
     }

     &:hover > ul {
       display: block;
     }
    }

    /**********************
    MENU: DROPDOWN
    ***********************/
    .sub-menu {
      display: none;
      position: absolute;
      top: 59px;
      margin-left: -40px;
      padding: 20px 0;
      background-color: white;
      border: 1px solid $medium-grey;
      box-shadow: 0 5px 6px -6px $dark-grey;

      li {
        float: none;
        width: 200px;
        padding: 10px 0;
        margin-left: 30px;
        &.current_page_item {
          a {
            color: $purple-text;
            border-bottom: none;
            display: block;
          }
        }

        a {
          margin-bottom: 0;
          padding: 5px 10px;
          font-size: 0.9em;
          text-transform: none;
          border-bottom: none;
          font-weight: normal;
          line-height: 1.5;
          &:hover {
            border-bottom: 0;
            text-decoration: underline;
          }
        }
      }
    }

    /**********************
    MENU: ACTIVE PAGE
    ***********************/

    .current_page_item {
      a {
        color: $purple-text;
        border-bottom: 3px solid $purple-text;
      }

      &:hover {
        border-bottom: none;
      }

      ul {
        li {
          a {
            border-bottom: none;
            color: $dark-grey;
          }

          &:hover {
            border-bottom: none;
          }
        }
      }
    }
  }
}



/**********************
MOBILE
***********************/

@media only screen and (max-width: 1024px) {
  body {
    padding-top: 95px;
  }
  header {
    height: 95px;
    width: 100%;
    position: fixed;
    top: 0;

    &.desktop-header {
      display: none;
    }
    &.mobile-header {
      display: block;
    }
    a {
      img {
        margin: 12px 4%;
        width: 125px;
        height: 63px;
      }
    }

    .dropdown {
      float: right;
      margin: 2px 4%;
      img {
        width: 25px;
        height: 17px;
        margin: 35px 20px;
      }
    }

    .banner-wrapper {
      position: absolute;
      z-index: 200;
      width: 100%;
      background-color: #FFF;
    }

    nav {
      width: 100%;
      margin: 10px 0;
      padding: 0;
      float: none;
      text-align: center;
      display: inline-block;
      position: absolute;
      left: 0;
      z-index: 100;
      &.open-menu {
        > ul {
          top: 83px;
          -webkit-transition: all .25s ease;
             -moz-transition: all .25s ease;
              -ms-transition: all .25s ease;
               -o-transition: all .25s ease;
                  transition: all .25s ease;
        }
      }

      ul {
        width: 100%;
        top: -800px;
        display: inline-block;
        position: absolute;
        left: 0;
        -webkit-transition: all .25s ease;
           -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
             -o-transition: all .25s ease;
                transition: all .25s ease;
      }
      .menu-item {
        border-bottom: 1px solid $medium-grey;
        margin: 0;
        float: none;
        background-color: $white;
        &:first-child {
          border-top: 1px solid $medium-grey;
        }
        &:hover a {
          color: $dark-grey
        }
        a {
          padding: 15px 0;
          margin: 0 50px;
          font-weight: bold;
          border-bottom: none;
        }
      }
      .menu > .menu-item-has-children {
        &:after {
          content: '+';
          position: absolute;
          top: 23px;
          right: 10px;
          display: block;
          height: 25px;
          width: 25px;
          font-size: 1.5rem;
          color: $dark-grey;
          margin-top: -13px;
        }
      }
      .sub-menu {
        top: 0;
        width: 100%;
        position: relative;
        display: none;
        margin: 0;
        padding: 0;
        border: 0;
        box-shadow: none;
        > li {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}



/**********************
BREADCRUMBS
***********************/

.breadcrumbs {
  span {
    &:last-child {
      span {
        font-weight: 600;
      }
    }
  }
}
