header {
  z-index: 1000;
  &.mobile-header {
    display: none;
  }
  height: 100px;
  position: relative;
  background-color: $white;
  border-bottom: 1px solid $light-grey;
  box-shadow: 0 5px 6px -6px $dark-grey;

  .inner-header {
  padding: $site-padding;
  max-width: 1220px;
  margin: 0 auto;
    a {
      img {
        float: left;
        margin: 8px 1%;
        width: 144px
      }
    }
    nav {
      float: right;
      padding: 42px 2% 42px 0;
      ul {
        li {
          float: left;
          display: block;
          position: relative;
          padding-left: 3.7em;
          &.current_page_item {
            a {
              color: $purple-text;
              border-bottom: 3px solid;
              display: block;
              height: 100px;
            }
          }
          &:hover > ul {
            display: block;
          }
          a {
            margin-bottom: 41px;
            display: block;
            font-weight: bold;
            font-size: 1.2em;
            text-transform: uppercase;
            &:hover {
              color: $purple;
              border-bottom: 3px solid;
            }
          }
        }
        ul {
          display: none;
          position: absolute;
          top: 59px;
          &.sub-menu {
            margin-left: -30px;
            padding: 20px 0;
            background-color: white;
            border: 1px solid $medium-grey;
            box-shadow: 0 5px 6px -6px $dark-grey;
          }
          li {
            float: none;
            width: 250px;
            padding: 10px 0 10px 3%;
            a {
              margin-bottom: 0;
              padding: 5px 10px;
              font-size: 0.9em;
              text-transform: none;
              &:hover {
                border-bottom: 0;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  /************/
  /** MOBILE **/
  /************/
  @media only screen and (max-width: 1024px) {
    &.desktop-header {
      display: none;
    }
    &.mobile-header {
      display: block;
    }
    height: 95px;
    margin: 0;
    padding: 0;
    position: relative;
    a {
      img {
        margin: 12px 4%;
        width: 125px;
        height: 63px;
      }
    }
    .dropdown {
      float: right;
      margin: 2px 4%;
      img {
        width: 25px;
        height: 17px;
        margin: 35px 20px;
      }
    }
    .banner-wrapper {
      position: absolute;
      z-index: 200;
      width: 100%;
      background-color: #FFF;
    }
    nav {
      width: 100%;
      margin: 10px 0;
      padding: 0;
      float: none;
      text-align: center;
      display: inline-block;
      position: absolute;
      left: 0;
      z-index: 100;
      &.open-menu {
        ul {
          top: 83px;
          -webkit-transition: all .25s ease;
             -moz-transition: all .25s ease;
              -ms-transition: all .25s ease;
               -o-transition: all .25s ease;
                  transition: all .25s ease;
        }
      }
      ul {
        width: 100%;
        top: -143px;
        display: inline-block;
        position: absolute;
        left: 0;
        -webkit-transition: all .25s ease;
           -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
             -o-transition: all .25s ease;
                transition: all .25s ease;
        li {
          padding: 9px 0;
          border-bottom: 1px solid $medium-grey;
          &:first-child {
            border-top: 1px solid $medium-grey;
          }
          background-color: $white;
          a {
            font-weight: bold;
            float: none;
          }
        }
      }
    }
  }
}
.breadcrumbs {
  span {
    &:last-child {
      span {
        font-weight: 600;
      }
    }
  }
}



