.homepage-wrapper {
  background-color: $light-grey;
  section {
    padding: 0 30px 100px 30px;
    max-width: 1220px;
    margin: 0 auto;
    .gallery-container {
      margin: 60px 25px 50px -5px;
      display: inline-block;
      div {
        padding-left: 30px;
      }
      .gallery-corporate, .gallery-events, .gallery-travel, .gallery-wedding {
        float: left;
      }
      a {
        height: 45px;
        margin-top: -2px;
        display: block;
        background-color: $purple;
        p {
          padding: 14px 0;
          font-weight: 600;
          color: $light-grey;
          text-align: center;
        }
      }
    }
    .about {
      background-color: white;
      margin: 0 25px;
      padding: 70px 100px;
      border: 1px solid #DDDDDD;
      p {
        margin-top: 20px;
        line-height: 20px;
        color: $dark-grey;
      }
      a {
        width: 240px;
        height: 45px;
        margin-top: -2px;
        display: block;
        background-color: $purple;
        p {
          padding: 13px 0;
          font-weight: 600;
          color: $light-grey;
          text-align: center;
        }
      }
    }
  }
  aside {
    background-color: #CCCCCC;
    .aside-wrapper {
      max-width: 1220px;
      margin: 0 auto;
      padding: 50px 30px;
      @include clearfix();
      .newsletter, .contact-us {
        float: left;
        height: 185px;
        width: 50%;
        padding-left: 130px;
      }
      .newsletter {
        h2 {
          margin-bottom: 20px;
        }
        form {
          label {
            font-weight: 600;
          }
          input[type="email"] {
            width: 380px;
            height: 45px;
            border: none;
            margin: 10px 0;
          }
        }
        button {
          width: 140px;
          height: 45px;
          margin-top: 20px;
          display: block;
          background-color: $purple;
          border: none;
          color: $light-grey;
          font-weight: 600;
        }
      }
      .contact-us {
        p {
          line-height: 20px;
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
  /************/
  /** MOBILE **/
  /************/
  @media only screen and (max-width: 460px) {
    section {
      padding: 20px 0 40px;
      .col-1-4 {
        width: 50%;
      }
      .gallery-container {
        margin: 15px 5.8% 30px 5.8%;
        .gallery-corporate, .gallery-events, .gallery-travel, .gallery-wedding {
          img {
            width: 126px;
            height: 158px;
          }
          a {
            width: 126px;
            p {
              padding: 13px 0;
            }
            .events {
              padding: 7px 0;
            }
          }
        }
      }
      .about {
        margin: 20px 0;
        padding: 20px 8%;
        a {
          width: 100%;
        }
      }
    }
    aside {
      .aside-wrapper {
        padding: 0 5%;
        .newsletter, .contact-us {
          width: 100%;
          margin: 30px 0;
          padding-left: 0;
        }
        .newsletter {
          form {
            input[type="email"] {
              width: 270px;
            }
          }
        }
      }
    }
  }
}
