//Colors
// CTA links hover color; also use underline
$purple: #652C90;
// Not used currently; for button color later
$dark-purple: #480A52;
// Background color
$light-grey: #E5E5E5;
// All text and footer background
$dark-grey: #333333;

$site-padding: 0 30px;